// Fonts
@font-face {
    font-family: "Wild Breath";
    src: url("../assets/font/the_wild_breath_of_zelda.otf");
}
@font-face {
    font-family: "Hylia Serif";
    src: url("../assets/font/hylia_serif.otf");
}
@font-face {
    font-family: "Hylian Symbols";
    src: url("../assets/font/hylian_symbols.ttf");
}
@font-face {
    font-family: "BOTW Hylian";
    src: url("../assets/font/botw_hylian.ttf");
}

// Main Palette
$apple-red: #f92914;
$apple-red-t: #ad281a;
$apple-green: #34d667;

$iron: #1c1c1c;
$iron-t: #1c1c1c76;

$air: #749fb6;
$air-t: #749fb663;

$grass: #929e59;

$cloth: #cebc96;
$cloth-d: #a69468;
$cloth-t: #cebc96b0;

$sea: #01403f;
$sea-t: #01403f63;
$sea-t2: #01403fad;

$bone: #fafafa;
$bone-t: #fafafa1f;
$bone-t2: #fafafa71;
$bone-filter: sepia(95%) saturate(24%) hue-rotate(249deg) brightness(117%) contrast(96%);
$bone-t-filter: invert(0%) sepia(1%) saturate(0%) hue-rotate(153deg) brightness(100%) contrast(103%) opacity(12%);
$bone-t-filter2: invert(100%) sepia(0%) saturate(7500%) hue-rotate(274deg) brightness(103%) contrast(99%) opacity(12%);

// status effects
$stamina: #ffc800;
$sneak: #7822e2;
$heat: #e26822;
$speed: #224be2;
$speed-t: #224be27f;
