@import "./utilities/variables.scss";
@import "@fontsource/public-sans";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16pt;
}

.hylian-symbol {
    font-family: "Hylian Symbols";
    font-style: normal;
}

.App {
    background-color: $sea;
    height: 100vh;
    overflow-x: hidden;
    width: 100vw;

    header {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url("./assets/img/koko-bg.png") no-repeat center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        padding: 2rem 4rem 0 4rem;
        flex-direction: column;
        justify-content: center;

        .logo {
            align-items: center;
            display: flex;

            .triforce-vert-divider {
                color: $bone;
                font-size: 1.5rem;
                margin: 0 3rem;
                position: relative;

                &::before {
                    background-color: $bone;
                    content: "";
                    height: 50px;
                    left: 50%;
                    position: absolute;
                    top: -300%;
                    transform: translateX(-50%);
                    width: 1px;
                }

                &::after {
                    background-color: $bone;
                    bottom: -300%;
                    content: "";
                    height: 50px;
                    left: 50%;
                    position: absolute;
                    transform: translateX(-50%);
                    width: 1px;
                }
            }

            .title {
                color: $bone;
                font-family: "Hylia Serif";
                text-transform: capitalize;
            }
        }

        .search {
            margin-top: 2rem;
            margin-bottom: -1rem;
            max-width: 1200px;
            z-index: 999;
            font-style: italic;
        }
    }

    main {
        background: url("./assets/img/pattern-bg-dark.jpg") repeat;
        padding: 4rem 4rem 0 4rem;
        height: 1000px;
        font-style: italic;

        .selected-list {
            .title {
                color: $bone;

                .icon {
                    width: 20px;
                    height: 20px;
                }
            }

            .empty-state-container {
                background-color: $iron-t;
                border-radius: 0.5rem;
                margin: 0.5rem 0;
                padding: 0.25rem;

                .empty-state {
                    align-items: center;
                    background-color: $iron-t;
                    border-radius: 0.3rem;
                    border: 1px dashed $bone-t;
                    display: flex;
                    gap: 1rem;
                    padding: 1rem;

                    .icon {
                        background-color: $bone-t;
                        border-radius: 0.5rem;
                        border: 1px solid $bone-t;
                        color: $bone;
                        font-size: 2rem;
                        padding: 0.5rem;
                    }

                    .text {
                        color: $bone;
                    }
                }
            }
        }

        .general-recipes {
            margin-top: 2rem;

            .title {
                color: $bone;
                margin-bottom: 0.5rem;
            }

            .recipes {
                display: flex;
                flex-wrap: wrap;
                gap: 0.5rem;

                .recipe-card-container {
                    background-color: $iron-t;
                    display: flex;
                    padding: 0.25rem;
                    border-radius: 0.5rem;
                    flex: 1;

                    .recipe-card {
                        border: 1px solid $bone-t;
                        background-color: $iron-t;
                        box-shadow: none;
                        display: flex;
                        gap: 0.75rem;
                        padding: 0.5rem;
                        width: 100%;
                        border-radius: 0.25rem;

                        .content {
                            width: 100%;

                            .triforce-divider {
                                color: $bone-t;
                                margin: 0.125rem 0;
                            }

                            .title {
                                display: flex;
                                justify-content: space-between;
                                margin-bottom: 0.25rem;
                                width: 100%;

                                * {
                                    color: $bone;
                                }
                            }

                            .status-effects {
                                border-radius: 0.25rem;
                                display: flex;
                                gap: 0.25rem;
                                align-items: center;

                                .full-restore-container {
                                    background-color: $iron-t;
                                    padding: 0.125rem;
                                    border-radius: 0.125rem;

                                    .full-restore {
                                        display: flex;
                                        align-items: center;
                                        gap: 0.25rem;
                                        border: 1px solid $bone-t;
                                        padding: 0 0.25rem;
                                        border-radius: 0.125rem;
                                        font-style: normal;
                                        color: $bone;

                                        img {
                                            height: 0.5rem;
                                        }
                                    }
                                }

                                .status-icon {
                                    height: 1rem;

                                    &.heart {
                                        height: 0.75rem;
                                    }
                                }

                                .extra-hearts-container {
                                    background-color: $iron-t;
                                    padding: 0.125rem;
                                    border-radius: 0.125rem;

                                    .extra-hearts {
                                        border: 1px solid $bone-t;
                                        padding: 0 0.25rem;
                                        border-radius: 0.125rem;
                                        font-style: normal;
                                        color: $bone;
                                    }
                                }
                            }

                            .ingredients {
                                display: flex;
                                gap: 0.5rem;
                                margin-top: 0.5rem;

                                .ingredient {
                                    display: flex;
                                    position: relative;

                                    img {
                                        aspect-ratio: 1/1 !important;
                                        background-color: $cloth-t;
                                        border-radius: 0.125rem;
                                        border: 1px solid $cloth-t;
                                        height: 60px;
                                        padding: 0.125rem;
                                    }

                                    .heart {
                                        color: $apple;
                                        position: absolute;
                                        font-size: 0.65rem;
                                        right: 0.125rem;
                                        top: 0.0625rem;
                                    }

                                    .status-effect {
                                        color: $stamina;
                                        position: absolute;
                                        font-size: 0.0001rem !important;
                                        left: 0.125rem;
                                        bottom: 0.0625rem;
                                    }

                                    .multiplier {
                                        font-style: normal;
                                        font-weight: 900;
                                        border-radius: 3px;
                                        color: $iron;
                                        display: grid;
                                        height: 20px;
                                        place-items: center;
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        width: 20px;
                                    }
                                }
                            }
                        }

                        .recipe-image {
                            border-radius: 0.125rem;
                            height: 100%;
                            width: 90px;
                            object-fit: contain;
                            background-color: $bone-t;
                            border: 1px solid $bone-t;
                        }
                    }
                }
            }
        }
    }
}
