@import "./utilities/variables.scss";
@import "@fontsource/public-sans";

html,
body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16pt;

    /* width */
    ::-webkit-scrollbar {
        width: 7px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: $sea;
        width: 5px;
        border-radius: 3px;
        border-radius: 7px;
        padding: 0 5px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $iron;
        border-radius: 7px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: $iron-h;
    }
}

[role="tooltip"] {
    box-shadow: none !important;
}

img {
    -webkit-user-drag: none;
    user-select: none;
}

.hylian-symbol {
    font-family: "Hylian Symbols";
    font-style: normal;
    user-select: none;
}

.App {
    background-color: $sea;
}
