@import "./utilities/variables.scss";
@import "@fontsource/public-sans";

html,
body {
    overflow-x: hidden;
}

:root {
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16pt;
    outline: none;

    /* width */
    ::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: $iron;
        padding: 0 5px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $bone;
        border-radius: 7px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: $bone-h;
    }
}

[role="tooltip"] {
    box-shadow: none !important;
}

img {
    -webkit-user-drag: none;
    user-select: none;
}

.hylian-symbol {
    font-family: "Hylian Symbols";
    font-style: normal;
    user-select: none;
}

.triforce-vert-divider {
    color: $bone;
    font-size: 1.25rem;
    position: relative;

    &::before {
        background-color: $bone;
        content: "";
        height: 50px;
        left: 50%;
        position: absolute;
        top: -350%;
        transform: translateX(-50%);
        width: 0.5px;
    }

    &::after {
        background-color: $bone;
        bottom: -350%;
        content: "";
        height: 50px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 0.5px;
    }
}

.App {
    background-color: $sea;
}
